@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
 font-family: Rubik, sans-serif;
}

/* Menu css */

nav {
    float: right;
    margin-right:30px;
    padding-top: 20px;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
    margin-left: 50px;
    position: relative;
}
  
nav a {
    color: rgb(240, 230, 230);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 17px;
    letter-spacing: 0.5px;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav a:hover:after {
    width: 100%;   
}

/* End Menu css */
/* Topic css */
#topicimage {
    width: 100%;
    height: 200px;

    background-image: url("images/topicbackground.jpg");
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* End Topic css */

/* Quiz.css */
#quizjpeg {
    width: 100%;
    height: 200px;

    background-image: url("images/quizbackground.jpg");
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

input[type=submit] {

    background: green;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease;

    
}

input[type=reset] {

    background: red;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease;
    
    
}
/* End Quiz.css */