/* 
filename: style.css
author: Anh Tuan Doan, Anthony Krueger, Mitch Anderson, Gabriel Chee, and Andrew Grivas
created: 16/3/2022
last modified date: 9/4/2022
description: the CSS style for index, topic, quiz, and enhancements webpages
*/

/* Common css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap'); /* import font for the page */

* {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%; 
}

a {
    word-break: break-all; /* allows link elements to break between lines */
    text-decoration: none; /* removes the underline of the link elements */
}

.main-content {
    margin: 0 3vw;
}

.title-background {
    width: 100%;
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2); /* add a layer of transparency */
    position: relative;
}

header h1 {
    font: normal bold 2em Rubik, sans-serif;
    color: #fff;
    position: absolute;

    /* center the title */
    left: 50%;         
    top: 50%;
    transform: translate(-50%, -50%);
}

/* End Common css */



/* Navigation bar css */

/* The navigation links hover animation was inspired by this video https://www.youtube.com/watch?v=aswRKAjjWuE */
nav {
    float: right;
    margin: 1.5em 1.2em 0 0;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 2vw;
    position: relative;
}

nav a {
    color: rgb(240, 230, 230);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.5px;
}

nav a::after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
/* When the the user hover the mouse to a link, the width of a:hover::after line will be increased to 100% */
nav a:hover::after {
    width: 100%;
}
/* End Navigation bar css */

/* Footer css */
/* The image hover animation was inspired by this video: https://www.youtube.com/watch?v=nM-30MdKNc4 */
footer {
    background-color: #060E33;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #fff;

}

footer > p {
    padding-top: 2em;
}
footer a {
    color: #fff;
    font-size: 0.85em;
}


.images-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.images-container .box {
    position: relative;
    width: 14vw;
    height: 14vw;
    overflow: hidden;
    transition: 0.5s;
    margin: 1.9em 0.7em;
}

.images-container .box:hover {
    z-index: 1;
    transform: scale(1.25); /* Makes the image bigger when hovered */
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.images-container .box .imagebox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.images-container .box .imagebox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #430F59, #DD344B);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.images-container .box:hover .imagebox::before {
    opacity: 1;
}

.images-container .box .imagebox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-container .box .content {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.images-container .box .content h1 {
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 0.2em;
    transform: translateY(500px); /* The element will float up by 500px */
}

.images-container .box:hover .content h1 {
    transform: translateY(0);
}

.images-container .box .content p {
    color: #fff;
    font-size: 0.9em;
    transition: 0.5s;
    transform: translateY(500px);
}

.images-container .box:hover .content p {
    transform: translateY(0);
    transition-delay: 0.2s;
}



/* End Footer css */

/* Index css */

/* 
The enhancement below was inspired by the "Rainbow effect" from this video: https://www.youtube.com/watch?v=ZQUKEkCuws8&t=9s
*/
:root {
    --color-background: #31037d;
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #d49c3d;
    --color-red: #d14b3d;
    --color-violet: #cf52eb;
    --color-blue: #44a3f7;
    --color-green: #5acb3c;
    --color-yellow: #debf40;
    --color-foreground: var(--color-white);
    --font-name: Rubik;
}

.bg {

    width: 100%;
    background-image: url("images/background.webp"); /* Image found on https://www.reddit.com/r/wallpaper/comments/lvaqga/1920x1080_minimalist_wallpaper_collection/ */

    align-items: center;
    justify-content: center;

    font-family: var(--font-name);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.c-rainbow {
    counter-reset: rainbow;
    position: absolute;
    list-style: none;
    text-align: center;

    /* The following 3 properties center the element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-rainbow__layer {
    --text-color: var(--color-foreground);
    counter-increment: rainbow;
    font-size: 7rem;
    color: var(--text-color);
    text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, .2);
    animation: rainbow 1.5s ease-in-out infinite;
}

.c-rainbow__layer:nth-child(1) {
    animation-delay: calc(1 / var(--delay) * 1s); /* Create delays for the layers so that it creates a trail effect */
    left: calc(var(--axis-x) * 1);
    z-index: -10;
}

.c-rainbow__layer:nth-child(2) {
    animation-delay: calc(2 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 2);
    z-index: -20;
}

.c-rainbow__layer:nth-child(3) {
    animation-delay: calc(3 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 3);
    z-index: -30;
}

.c-rainbow__layer:nth-child(4) {
    animation-delay: calc(4 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 4);
    z-index: -40;
}

.c-rainbow__layer:nth-child(5) {
    animation-delay: calc(5 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 5);
    z-index: -50;
}

.c-rainbow__layer:nth-child(6) {
    animation-delay: calc(6 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 6);
    z-index: -60;
}

.c-rainbow__layer:nth-child(7) {
    animation-delay: calc(7 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 7);
    z-index: -70;
}

.c-rainbow__layer:not(:first-child) {
    position: absolute;
    top: 0;
}

.c-rainbow__layer--white {
    --text-color: var(--color-white);
}

.c-rainbow__layer--orange {
    --text-color: var(--color-orange);
}

.c-rainbow__layer--red {
    --text-color: var(--color-red);
}

.c-rainbow__layer--violet {
    --text-color: var(--color-violet);
}

.c-rainbow__layer--blue {
    --text-color: var(--color-blue);
}

.c-rainbow__layer--green {
    --text-color: var(--color-green);
}

.c-rainbow__layer--yellow {
    --text-color: var(--color-yellow);
}

@keyframes rainbow {

    0%,
    100% {
        transform: translatey(var(--axis-y)); 
    }

    50% {
        transform: translatey(calc(var(--axis-y) * -1)); /* Makes the texts bounce up and down */
    }
}

/* End Index css */



/* Topic css */

#topicimage {
    background-image: url("images/topicimage.webp"); /* Art made by WhimsicalFishy: https://www.deviantart.com/whimsicalfishy/art/Flying-whales-907207022 */
}


.topic-section, .enhancement-section {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.topic-section figure figcaption {
    text-align: center;
}

#jpeg-timeline-figure {
    margin-left: 1.8vw;
    width: 200%;
}

#jpeg-timeline-image {
    max-width: 100%;
    height: 100%;
}


#jpeg-compression-figure {
    margin-right: 3vw;
}

#jpeg-compression-image {
    width: 20vw;
    height: 100%;

}

#jpeg-function-figure {
    margin-left: 1.8vw;
    width: 200%;

}
#jpeg-function-image {

    max-width: 100%;
    height: 100%;
}
.other-tech-figure {
    margin-right: 1.8vw;

}
.other-tech-image {
    width: 20vw;
    height: 100%;
}

.information-container {
    /* The following 3 properties centre the element vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%); 

    text-align: justify;    /* Make each line of the paragraph have equal width */
    text-justify: inter-word;
}

.section-information .information-container h2,
.section-information .information-container h3 {
    margin-bottom: 20px;
    text-align: center;
}

.section-information .information-container h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}


.section-information .information-container p,
.section-information .information-container ol li,
.section-information .information-container ul li {
    font-size: 1.2em;
    font-weight: 300;
}


.section-information .information-container ol li {
    margin-top: 10px;
}


#other-tech-title {
    margin-top: 40px;
    text-align: center;
}

.section-information .information-container .pros-cons {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.section-information .information-container .pros-cons .pros-cons-box {
    margin-top: 20px;
    box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.062);
    width: 47%;
    border-radius: 10px;
}

.section-information .information-container .pros-cons .pros-cons-box h4 {
    text-align: center;
    padding: 13px;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    color: #fff;
}

.section-information .information-container .pros-cons .pros h4 {
    background-color:  #27A858;
}

.section-information .information-container .pros-cons .cons h4 {
    background: #de6c64;
}


.section-information .information-container .pros-cons .pros-cons-box ul {
    width: 90%;
    position: relative;
    padding: 10px 0px 20px 20px;
}

.section-information .information-container .pros-cons .pros-cons-box ul li {
    padding-top: 9px;
}



.comparison-section h3 {
    margin-top:3em;
}

@media only screen and (max-width: 600px)  {
    .main-content figure {
        display: none;
    }
}

/* The design for the table below is inspired by this article: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
#other-tech-table {
    margin-top: 20px;
    margin-bottom: 50px;
    border-collapse: collapse;
    font-size:0.9em;
    border-radius:  20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
}

#other-tech-table thead tr {
    background-color: #27A858;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#other-tech-table th,
#other-tech-table td {
    text-align: center;
    padding: 15px;
}
/* This selects every other row and makes the background color darker */
#other-tech-table tbody tr:nth-of-type(even) {
    background-color: rgb(245, 245, 245);
}


.additional-content {
    margin: 20px 5%;
}


.additional-content aside {
    margin-left:20px;
    padding: 20px;
    border: 1px dashed #27A858;
    float: right;
    width: 30vw;
}

.reference {
    width: 50vw;
}


.additional-content aside dl {
    margin-left:10px;
}
.additional-content aside dl dd {
    padding-left:20px;
}
.additional-content aside dl dt {
    margin-top:5px;
    font-weight: 600;   
}

.additional-content h2 {
    margin-bottom:20px;
}

/* This selects every other paragraph */
.reference p:nth-of-type(even){
    margin-bottom:25px;
}



/* End Topic css */


/* Quiz css */


#quizjpeg {
    background-image: url("images/quizzesbackground.webp"); /* Digital art made by Voidentir: https://www.deviantart.com/voidentir/art/Unreal-sky-905134593 */
    
}

.quiz-content > h2{
    margin-top:40px;
}
.quiz-content > p {
    font-weight: 200;
}
.quiz-content {
    margin-bottom: 70px;
}

#question-form {
    margin-top:20px;
   
}

.quiz-content fieldset {
    margin-top:20px;
    border: 0;
}

.quiz-content fieldset legend {
    font-weight: 600;
    font-size: 1.2em;
}


.questions {
    margin-left:20px;
    display: flex;
    flex-direction: column;
}

.questions > * {
    align-self: flex-start;
    margin-top:5px;
    font-weight: 400;
}

input[type=text],
input[type=number],
.selection {
    width: 100%;
    max-width: 25vw;
    min-width: 200px;

    font-size: 1em;
    font-weight: 300;

    padding: 10px 10px 10px 20px;
    margin: 10px 20px;

    outline: none; /* Removes the outline when the element is selected */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px; 
    background: #f9f9f9;  

}

.radio input[type=radio],
.checkbox input[type=checkbox] {
    margin-left:20px;
    margin-top:5px;
    width: 1.2em;
    height: 1.2em;

}

.selection {
    color: #9b9999
}

.radio label,
.checkbox label {
    font-weight: 300;
    color: #707070;
}

/* The following code for the submit and reset button has been inspired by the following video:
https://www.youtube.com/watch?v=MLfAW55_4cY */

.container1{
    margin-left:90px ;
    float: left;
}

.btn{
    border: 1px solid #C05252;
    background: none;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1{
    color: #C05252;
}


/* This activates when the user hovers their mouse to the button  */
.btn1:hover{ 
    color: #fff;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #C05252;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

/* When the user hovers their mouse to the element, the btn1::before element's height will be increased to 180% */
.btn1:hover::before{
    height: 180%
}



/* End Quiz css */


/* Enhancements css */

#enhancementsjpg{
    background-image: url("images/enhancement.webp"); /* Artwork made by Nele-Diel: https://www.deviantart.com/nele-diel/art/Endless-Sky-910764575 */
}

#hover-effect-image  {
    width: 150%;
    max-width: 40%;
    margin-left: 70px;
}

#text-trail-effect-image {
    width: 150%;
    max-width: 40%;
    margin-right: 70px;
}

.enhancement-section .section-information .information-container p {
    margin-bottom:10px;
}

#enhancement-footer-section {
    margin-top: 50px;
}

/* End Enhancements css*/

