@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
 font-family: Rubik, sans-serif;
}

/* Topic css */
#topicimage {
    width: 100%;
    height: 200px;

    background-image: url("images/topicbackground.jpg");
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* End Topic css */