@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;

}

/* Common css */

.title-background {
    width: 100%;
    height: 350px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2); /* add a layer of transparency */

    position: relative;
}

.page-title {
    font:bold 2em Rubik, sans-serif;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* End common css */



/* Menu css */

nav {
    float: right;
    margin-right: 30px;
    padding-top: 20px;
}

nav ul {
    /* margin: 0;
    padding: 0; */
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    position: relative;
}

nav a {
    color: rgb(240, 230, 230);
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover:after {
    width: 100%;
}

/* End Menu css */

/* Footer css */

footer {
    background-color: #060E33;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #fff;

}

footer>p {
    padding-top: 30px;
    margin-top: 0;
}


.images-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.images-container .box {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: 0.5s;
    margin: 30px 10px 30px 10px;


    /* margin-left: 60px; */
}

.images-container .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.images-container .box .imagebox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.images-container .box .imagebox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #430F59, #DD344B);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.images-container .box:hover .imagebox:before {
    opacity: 1;
}

.images-container .box .imagebox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-container .box .content {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.images-container .box .content h1 {
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    transform: translateY(500px);
}

.images-container .box:hover .content h1 {
    transform: translateY(0);
}

.images-container .box .content p {
    color: #fff;
    font-size: 14px;
    transition: 0.5s;
    transform: translateY(500px);
}

.images-container .box:hover .content p {
    transform: translateY(0);
    transition-delay: 0.2s;
}

/* End footer css */

/* Index css */

:root {
    --color-background: #31037d;
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #d49c3d;
    --color-red: #d14b3d;
    --color-violet: #cf52eb;
    --color-blue: #44a3f7;
    --color-green: #5acb3c;
    --color-yellow: #debf40;
    --color-foreground: var(--color-white);
    --font-name: Rubik;
}

.bg {
    /* height: 100%; */
    width: 100%;
    background-image: url("images/background3.webp");

    /* display: flex; */
    align-items: center;
    justify-content: center;

    font-family: var(--font-name);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.c-rainbow {

    counter-reset: rainbow;
    /* position: relative; */
    /* display: block; */
    position: absolute;
    list-style: none;
    /* padding: 0;
    margin: 0; */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-rainbow__layer {
    --text-color: var(--color-foreground);
    counter-increment: rainbow;
    font-size: 7rem;
    color: var(--text-color);
    text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, .2);
    animation: rainbow 1.5s ease-in-out infinite;
}

.c-rainbow__layer:nth-child(1) {
    animation-delay: calc(1 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 1);
    z-index: -10;
}

.c-rainbow__layer:nth-child(2) {
    animation-delay: calc(2 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 2);
    z-index: -20;
}

.c-rainbow__layer:nth-child(3) {
    animation-delay: calc(3 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 3);
    z-index: -30;
}

.c-rainbow__layer:nth-child(4) {
    animation-delay: calc(4 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 4);
    z-index: -40;
}

.c-rainbow__layer:nth-child(5) {
    animation-delay: calc(5 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 5);
    z-index: -50;
}

.c-rainbow__layer:nth-child(6) {
    animation-delay: calc(6 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 6);
    z-index: -60;
}

.c-rainbow__layer:nth-child(7) {
    animation-delay: calc(7 / var(--delay) * 1s);
    left: calc(var(--axis-x) * 7);
    z-index: -70;
}

.c-rainbow__layer:not(:first-child) {
    position: absolute;
    top: 0;
}

.c-rainbow__layer--white {
    --text-color: var(--color-white);
}

.c-rainbow__layer--orange {
    --text-color: var(--color-orange);
}

.c-rainbow__layer--red {
    --text-color: var(--color-red);
}

.c-rainbow__layer--violet {
    --text-color: var(--color-violet);
}

.c-rainbow__layer--blue {
    --text-color: var(--color-blue);
}

.c-rainbow__layer--green {
    --text-color: var(--color-green);
}

.c-rainbow__layer--yellow {
    --text-color: var(--color-yellow);
}

@keyframes rainbow {

    0%,
    100% {
        transform: translatey(var(--axis-y));
    }

    50% {
        transform: translatey(calc(var(--axis-y) * -1));
    }
}

/* End index css */



/* Topic css */
#topicimage {
    background-image: url("images/topicimage.jpg");
}

.main-content {
    margin: 0 91px;
}

.topic-section {
    margin-top: 40px;
    /* width: 100%; */

    display: flex;
    /* align-items: flex-end; */
    justify-content: space-between;
}

.topic-section figure figcaption {
    text-align: center;
}

#jpeg-timeline-figure {
    max-width: 50%;
    margin-left: 50px;
}

#jpeg-timeline-image {
    width: 100%;
    height: 100%;
}


#jpeg-compression-figure {
    max-width: 30%;
    margin-right: 70px;
}

#jpeg-compression-image {
    
    /* max-width: 30%; */
    width: 100%;
    height: 100%;
}

#jpeg-function-figure {
    margin-left: 50px;
    max-width: 46%;
}
#jpeg-function-image {
    width: 100%;
    height: 100%;
}
.other-tech-figure {
    margin-right: 70px;
    max-width: 25%;
}
.other-tech-image {
    width: 100%;
    height: 100%;
}

.information-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: justify;
    text-justify: inter-word;
}

.section-information .information-container h2,
.section-information .information-container h3 {
    margin-bottom: 20px;
    text-align: center;
}

.section-information .information-container h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}


.section-information .information-container p,
.section-information .information-container ol li,
.section-information .information-container ul li {
    font-size: 1.2em;
    font-weight: 300;
}

.section-information .information-container ol li {
    margin-top: 10px;
}


#other-tech-title {
    margin-top: 40px;
    text-align: center;
}

.section-information .information-container .pros-cons {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-around;
    
}

.section-information .information-container .pros-cons .pros-cons-box {
    margin-top: 20px;
    box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.15);
    width: 47%;
    border-radius: 10px;
    
    /* height: auto; */
}

.section-information .information-container .pros-cons .pros-cons-box ul {
    width: 90%;
    position: relative;
    z-index: 10;
    padding: 10px 0px 20px 20px;
    /* padding-bottom: */
}

.section-information .information-container .pros-cons .pros-cons-box ul li {
    padding-top: 9px;
  
}

.section-information .information-container .pros-cons .pros-cons-box h4 {
    text-align: center;
    padding: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px 10px 0 0;

}

.section-information .information-container .pros-cons .pros h4 {
    background: linear-gradient(to right, #5fcc89, #24b95e);
}

.section-information .information-container .pros-cons .cons h4 {
    background: #de6c64;
}

#other-tech-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius:  5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* min-width: 900px; */
}

#other-tech-table thead tr {
    background: linear-gradient(to right, #5fcc89, #24b95e);
    color: #fff;
    text-align: left;
    font-weight: bold;
}

#other-tech-table th,
#other-tech-table td {
    padding: 12px 15px;
}

#other-tech-table tbody tr {
    border-bottom: 1px solid #ddd
}
#other-tech-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
/* End Topic css */


/* Quiz.css */
#quizjpeg {
    background-image: url("images/quizzesbackground.png");
}

.quiz-content > h2{
    margin-top:40px;
}
.quiz-content > p {
    font-weight: 200;
}

#question-form {
    margin-top:20px;
}

.quiz-content fieldset {
    margin-top:20px;
    border: 0;
}

.quiz-content fieldset legend {
    font-weight: 600;
    font-size: 1.2em;
}



.questions {
    margin-left:20px;
    display: flex;
    flex-direction: column;
}

.questions > * {
    align-self: flex-start;
    margin-top:5px;
    font-weight: 400;
}

input[type=text] {
    width: 100%;
    max-width: 500px;

    font-size: 1em;
    font-weight: 300;

    padding: 10px;
    margin: 10px 20px;
    padding-left:20px;

    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px; 
    background: #f9f9f9;  
    /* transition: background 0.25s, border-color 0.25s, color 0.25s  */
    /* box-shadow:0 0 15px 4px rgba(0,0,0,0.06);    */
}

.radio input[type=radio],
.checkbox input[type=checkbox] {
    margin-left:20px;
    margin-top:5px;
    width: 1.2em;
    height: 1.2em;

}

.selection {
    color:#707070;
    font-weight: 300;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    margin-left:20px;
    padding:10px;
    border-radius: 5px;
}

.radio label,
.checkbox label {
    
    font-weight: 300;
    color: #707070;

}

input[type=submit] {

    background: green;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease;

}

input[type=reset] {

    background: red;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease;


}

/* End Quiz.css */